
# Create a file named terraform.tfvars (Ignored in .gitignore) in /terraform direcroy in your local repo with the needed TF variables: 
# TF_VARS: 
cloudflare_api_token   = <EXMAPLE>
cloudflare_zone_id     = <EXMAPLE>
cloudflare_domain_name = <EXMAPLE>